body, html {
  height: 100%;
  margin: 0px;
}

.imgLayer {
  /* The image used */

  /* Full height */
  height: 100%;
  width:100%;
  /*max-width: 100%;*/
  /*max-height: 100%;*/

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;

  animation:opac 0.5s
}

@keyframes opac{from{opacity:0} to{opacity:1}}
