body, html {
  height: 100%;
  margin: 0px;
}

.imgLayer {
  /* The image used */

  /* Full height */
  height: 100%;
  width:100%;
  /*max-width: 100%;*/
  /*max-height: 100%;*/

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;

  animation:opac 1s
}

@keyframes opac{from{opacity:0} to{opacity:1}}

.imgLayerTitle {
  height: 100%;
  width:100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.titleContainer {
  position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    z-index: 101;
}

.titleContainer span{
  background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    margin-top: 25px;
}
